$header-bg-color: #252525;
$white: #FFFFFF;
$purple: #4D4382;
$white-opacity: rgba(255, 255, 255, 0.05);
$font-primary: 'Bitter', serif;
$font-secondary: 'Varela Round', sans-serif;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 24px;
$line-height-small: 20px;
$line-height-medium: 51.81px;
