.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D7D7D7;
    flex-direction: column;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.86px;
    font-family: 'Varela Round', serif;
  }
  