@import 'variables';
@import 'mixins';

.header {
  position: absolute;
  width: 1602px;
  height: 53px;
  left: -1px;
  top: -1px;
  background: $header-bg-color;
  @include flex-center;
}

.headerContainer {
  width: 60%;
  height: 100%;
  @include flex-row(center, center);
}

.logoContainer {
  flex: 1;
  width: 142px;
  height: 100%;
  @include flex-row(start, center, 10px);
}

.rectangle {
  width: 63px;
  height: 100%;
  background: $white-opacity;
  @include flex-center;
}

.logoImage {
  width: 14px;
  height: 21px;
}

.logoText {
  width: 100px;
  height: 27px;
  font-family: 'Bitter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: $white;
}

.navContainer {
  flex: 1;
  @include flex-row(flex-end, center, 20px);
}

.subNav {
  width: 245px;
  height: 17px;
  @include flex-row(space-between);
}

.navItem {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: $white;
  text-decoration: none;
  @include flex-center;
}

.searchContainer {
  width: 62px;
  height: 53px;
}

.searchIcon {
  width: 16px;
  height: 16px;
  background-size: cover;
}
